<html>
  <link rel="stylesheet" href="{{url_for('static',filename='css/lycheestyle.css')}}">
<body >
<div class="container">
     <div class="card">
      <div class="img-container">
        <img src="https://images7.alphacoders.com/443/443677.jpg" alt=""/>
      </div>
      <div class="card-details">
        <h1>Predicted Fruit : Lychee</h1>
        <h2>Nutriton per 100 gms :</h2>
        <p>Calories : 66 <br> 
		Water Content: 82% <br> 
		Vitamins : A, C, B2 <br> 
		Carbohydrates : 16.5 gms <br> 
		Sugar : 15.23 gms <br> Fat: 0.44 gms <br >
		Fibre: 1.3 gms <br> 
		Protein: 0.83 gms</p>
      </div>
    </div>
    </div>

    
</body>
</html>

