<html>
  <link rel="stylesheet" href="{{url_for('static',filename='css/watermelonstyle.css')}}">
<body>
<div class="container">
     <div class="card">
      <div class="img-container">
        <img src="https://images8.alphacoders.com/376/376271.jpg" alt=""/>
      </div>
      <div class="card-details">
        <h1>Predicted Fruit : Watermelon</h1>
        <h2>Nutriton per 100 gms :</h2>
        <p>Calories : 30 <br> 
		Water Content: 91% <br> 
		Vitamins : A, B6, C <br> 
		Carbohydrates : 8 gms <br> 
		Sugar : 6.2 gms <br> 
        Fat: 0.2 gms <br >
		Fibre: 0.4 gms <br> 
		Protein: 0.6 gms</p>
      </div>
    </div>
    </div>

    
</body>
</html>

